@import 'thtweb_style.scss';

.section-1,
.section-2,
.section-3,
.section-4,
.section-5{
    padding: 20px;
    h1{
        padding: 10px;
    }
}

.section-1{
    padding-top: $navbar-height;
    background:
        linear-gradient(
            rgba(255, 255, 255, 0.548),
            rgba(255, 255, 255, 1.548) 
        ),
        url('/images/architectural-design-architecture-buildings-830891.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1{
        text-align: center;
        font-size: 3.5rem;
        color: #012541;
    }
    p{
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 3rem;
    }
}
.section-2{
    background-color: #012541;
    color: #ffffff;
    h1{
        text-align: center;
        font-size: 3.5rem;
    }
    p{
        text-align: justify;
        font-size: 1.4rem;
    }
    h2{
        text-align: center;
        font-size: 3rem;
        font-family: 'IM Fell Great Primer', serif;
    }
}
.section-3{
    h1{
        text-align: center;
        font-size: 3.5rem;
        color: #012541;
    }
    ul,p{
        text-align: justify;
        font-size: 1.4rem;
    }
}
.section-4{
    background-color: #012541;
    color: #ffffff;
    h1{
        text-align: center;
        font-size: 3.5rem;
    }
    p{
        text-align: justify;
        font-size: 1.4rem;
    }
    .mgt-photo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .mgt-photo{
            border-radius: 50%;
            width: 216px;
            height: 217px;
            display: block;
            margin: 0 auto;
            // -webkit-filter: grayscale(100%);
            // filter: grayscale(100%);
            -o-object-fit: cover;
            object-fit: cover;
            padding: 20px;
        }
    }
    hr{
        background-color: #ffffff;
    }
}
.section-5{
    background:
    linear-gradient(
        rgba(255, 255, 255, 0.548),
        rgba(255, 255, 255, 1.548) 
        ),
        url('/images/ballpen-business-cell-phone-796602.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1{
        color: #012541;
        text-align: center;
        font-size: 3.5rem;
    }
    p{
        text-align: justify;
        font-size: 1.4rem;
    }
    .contact-blob{
        background-color: #ffffff;
        margin: 0 auto;
        margin-bottom: 10px;
        max-width: 500px; 
        display: flex;
        border-radius: 200px;
        border: 2px solid #012541;
        -webkit-box-shadow: 10px 10px 50px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 50px -12px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 50px -12px rgba(0,0,0,0.75);
        .contact-icon{
            border: 2px solid #012541;
            border-radius: 200px;
            background-color: #012541;
            height: 100px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            .inner-contact-icon{
                background-color: transparent;
                color: #ffffff;
                font-size: 5rem;
            }
        }
        .contact-content{
            height: 100px;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .inner-contact-content{
                padding: 10px;
                font-size: 1.4rem;
                font-weight: bold;
                a{
                    color: #000000;
                }
            }
        }
    }
}