@import 'thtweb_style.scss';

.section-1{

    padding: 30px;
    h1{
        padding: 10px;
    }
}

.section-1{
    padding-top: $navbar-height;
    background:
        linear-gradient(
            rgba(255, 255, 255, -0.452),
            rgba(255, 255, 255, 1.548) 
        ),
        url('/images/blank-business-composition-373076.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .join-the-team{
        margin: 20px;
        background-color: rgba(255, 255, 255, 0.719);
        h1{
            text-align: center;
            font-size: 3.5rem;
            color: #012541;
        }
        p{
            font-weight: 500;
            text-align: center;
            font-size: 1.4rem;
            color: #000000;
        }
        .btn.mail-to{
            background: rgba(255, 255, 255, 0.631);
            padding: 10px;
            border: 2px solid #012541;
            color: #012541;
            font-size: 1.4rem;
            font-weight: bold;
            margin: 0 auto;
            display: block;
            max-width: 200px;
            &:hover{
                background-color: #012541;
                color: #ffffff;
            }
        }     
    }

    .avail-positions-container{
        margin-top: 5rem;
        .position-item{
            margin-bottom: 20px;
            .card{
                font-size: 1.4rem;
                width: 100%;
                height: 100%;
                border-radius: 7px;
                -webkit-box-shadow: 10px 10px 50px -12px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 50px -12px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 50px -12px rgba(0,0,0,0.75);
                .card-position-title{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 10rem;
                    background-color: #012541;
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                    .inner-position-title{
                        font-size: 2.5rem;
                        font-weight: bold;
                        color: #ffffff;
                    }
                }
                p{
                    color: #000000;
                    text-shadow: none;
                    font-weight: normal;
                    text-align: justify;
                }
            }    
        }
    }
}