@import 'thtweb_style.scss';

.section-1,
.section-2{
    position: relative;
    ul,p{
        font-size: 1.4rem;
    }
}

.section-1,
.section-2,
{
    padding: 77px 0 77px 0;
    h1{
        padding: 20px;
    }
}
.back-to-selection{
    float: right;
    font-size: 1.4rem;
    display: block;
    color: #ffffff;
    background-color: #055ea1;
    padding: 10px;
    border-radius: 7px;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: .5s all;
    transition: 0.5s all;
    &:hover{
        background-color: #044170;
        text-decoration: none;
        color: #ffffff;
    }
}

.section-1{
    padding-top: $navbar-height;
    padding-bottom:77px;
    background:
        linear-gradient(
            rgba(255, 255, 255, -0.548),
            rgba(255, 255, 255, 1.548) 
        ),
        url('/images/adventure-blur-cartography-408503.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    h1{
        color: #012541;
        text-align: center;
        padding: 20px;
    }
    p{
        font-weight: 450;
    }
    .international-container{
        margin: 20px 0 20px 0;
        background-color: rgba(255, 255, 255, 0.719);
        border-radius: 7px !important;
        -webkit-box-shadow: 10px 10px 77px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 77px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 77px 0px rgba(0,0,0,0.75);
    }
    .calling-plans-list{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            position: relative;
            margin-top: 15px;
            margin-bottom: 25px;
            .icon-container{
                min-height: 7.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon{
                    text-align: center;                  
                    i{
                        color: #012541;
                        font-size: 7rem;
                    }
                }
            }
        }
    }

    ul{
        li{
            font-size: 1.4rem;
        }
    }

    .country-item-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .country-item{
            display: block; 
            margin: 0 auto; 
            width: 15rem !important;
            border-radius: 10px !important;
            margin: 5px;
            -moz-transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: .5s all;
            transition: 0.5s all;
            .card-img-top{
                height: 95px !important;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .card-body{
                background-color: #012541;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                .card-title{
                    color: #ffffff;
                    font-weight: bold;
                    text-align: center !important;
                    font-size: 1.4rem;
                    text-transform: capitalize;
                }
            }
            &:hover{
                -webkit-box-shadow: 0px 0px 72px -1px rgba(5,94,161,1);
                -moz-box-shadow: 0px 0px 72px -1px rgba(5,94,161,1);
                box-shadow: 0px 0px 72px -1px rgba(5,94,161,1);
                -webkit-transform:scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
                text-decoration: none;
                .card-body{
                    background-color: #044170;
                }
            }
        }
    }

    hr{
        border-top: 5px solid #012541;
        margin-left: 30px;
        margin-right: 30px;
    }

}

