@import 'thtweb_style.scss';

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6{
    position: relative;
    ul,p{
        font-size: 1.4rem;
    }
}

.section-2,
.section-3,
.section-4,
.section-5,
.section-6{
    padding: 77px 0 77px 0;
    h1{
        padding: 20px;
    }
}
.back-to-selection{
    float: right;
    font-size: 1.4rem;
    display: block;
    color: #ffffff;
    background-color: #055ea1;
    padding: 10px;
    border-radius: 7px;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: .5s all;
    transition: 0.5s all;
    &:hover{
        background-color: #044170;
        text-decoration: none;
        color: #ffffff;
    }
}

.section-1{
    padding-top: $navbar-height;
    padding-bottom:77px;
    background:
        linear-gradient(
            rgba(255, 255, 255, -0.548),
            rgba(255, 255, 255, 1.548) 
        ),
        url('/images/business-computer-design-34125.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    .card{
        margin: 20px;
        background-color: rgba(255, 255, 255, 0.719);
        h1{
            color: #012541;
            text-align: center;
            padding: 20px;
        }
        p{
            font-weight: 450;
        }
    
        .scroll-links{
            display: block;
            border-radius: 7px;
            background-color: #012541;
            color: #ffffff;
            padding: 10px;
            font-size: 1.7rem;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            -webkit-transition:.5s all;
            -moz-transition: .5s all;
            -o-transition: .5s all;
            transition: .5s all;
            &:hover{
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
                text-decoration: none;
                background-color: #055ea1;
                .inner-scroll-links{
                    .hover-down{
                        opacity: 0.7;
                    }
                }
            }
            .inner-scroll-links{
                text-align: center;
                position: relative;
                .hover-down{
                    top: -17px;
                    width: 100%;
                    opacity: 0;
                    position: absolute;
                    -webkit-transition:.5s all;
                    -moz-transition: .5s all;
                    -o-transition: .5s all;
                    transition: .5s all;
                    color: #ffffff;
                    font-size: 7rem;
                }
            }
        }
    }

}
.section-2{
    color: #ffffff;
    a{
        color: #ffffff;
    }
    background-color: #012541;
}
.section-4{
    background-color: #e9e9e9;
}
