@import 'thtweb_style.scss';

body{
    background:
    linear-gradient(
        rgba(255, 255, 255, -0.548),
        rgba(255, 255, 255, 1.548) 
    ),
    url('/images/action-plan-brainstorming-complex-212286.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.container{
    padding-bottom: 15px !important ;
}
.section-1{

    padding-top: $navbar-height;
    border: 0;
    h1{
        padding: 10px;
        text-align: center;
        font-size: 3.5rem;
        color: #012541;
    }
    h2{
        text-align: left;
        padding: 10px;
        font-size: 3rem;
        color: #012541;
    }
    .faq-list{
        margin-bottom: 10px; 
        .faq-item{

            border-bottom: 2px solid #b4b4b4;
            padding: 10px;
            .question{
                display: flex;
                border-left: 4px solid #012541;
                background-color: #c0cdd6;
                .question-letter{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 4rem;
                    color: #012541;
                    padding: 10px;
                }
                .question-content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    text-align: left;
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
            .answer{
                display: flex;
                border-left: 4px solid #888888;
                .answer-letter{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 4rem;
                    color: #888888;
                    padding: 10px;
                }
                .answer-content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    text-align: left;
                    font-size: 1.5rem;
                    color: #888888;
                }
            }
        }
        .faq-item:last-child{
            border-bottom: none;
        }
    }
}