@import 'thtweb_style.scss';

$feature-height: 70vh;

.featurette-3,
.featurette-4,
.featurette-5,
.featurette-6{
    padding: 77px 0 77px 0;
}
.featurette-2,
.featurette-3,
.featurette-4,
.featurette-5,
.featurette-6{
    .arrow-scroll-down {
        top: 0;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-width: 30px;
        margin-left: -30px;
    }
}

.featurette-3,
.featurette-4,
.featurette-5{
    img{
        border-radius: 7px;
    }
}

.learn-more-btn{
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    display: block;
    background: transparent;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    -moz-transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: .5s all;
    transition: 0.5s all;
    &:hover{
        text-decoration: none;
    }
}
.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
    .inner-content{
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.featurette-1{
    background-image: url('/images/pexels-photo-1493371.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: $feature-height;
    padding-top: $navbar-height;
    .specialize{
        position: relative;
        top: 50%;
        transform: translate(0,-50%);
        h1{
            font-family: 'IM Fell Great Primer', serif;
            color: #ffffff;
            font-size: 3.7rem;
            text-shadow: 2px 2px 17px #000000;
            text-align: center;
        }
        .list-header{
            font-size: 3.5rem;
            font-weight: bold;
            background-color: rgba(8, 112, 192, 0.431);
            padding: 5px;
            color: #ffffff;
        }

        h2{
            ul{
                li{
                    font-size: 2.5rem;
                    color: #ffffff;
                    text-shadow: 2px 2px 4px #000000;
                }
            }
        }
        .learn-more-btn{
            background-color: rgba(255, 255, 255, 0.144);
            border: 2px solid #ffffff;
            color: #ffffff;
            &:hover{
                color: #012541;
                background-color: #ffffff;
            }
        }
    }
 
}
.featurette-2{
    -webkit-box-shadow: 0px -27px 64px 24px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -27px 64px 24px rgba(0,0,0,0.75);
    box-shadow: 0px -27px 64px 24px rgba(0,0,0,0.75);
    h1{
        padding: 20px;
        text-align: center;
        color: #012541;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .feature-list{
        margin-bottom: 10px;
        .feature-item{
            padding: 10px;
            .icon-circle{
                border-radius: 200px;
                width: 120px;
                height: 120px;
                background-color: #012541;
                margin: auto;
                .inner-circle{
                    color: #ffffff;
                    font-size: 3.5rem;
                    text-align: center;
                    width: 100%;
                    position: relative;
                    top: 50%;
                    transform: translate(0,-50%);
                }
                h3{
                    margin-top: 5px !important; 
                }
            }
        }
    }

}
.featurette-3{
    position: relative;
    background:
        linear-gradient(
             rgba(1, 56, 99, 0.548),
             rgba(1, 37, 65, 1.548) 
        ),
        url('/images/audio-beard-blur-1005762.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .arrow-scroll-down{
        border-top-color: #ffffff;
    }
    h1{
        color: #ffffff;
    }
    p{
        color: #ffffff;
        font-size: 1.5rem;
    }
    .learn-more-btn{
        border: 2px solid #ffffff;
        color: #ffffff;
        &:hover{
            color: #012541;
            background-color: #ffffff;
        }
    }
}
.featurette-4{
    position: relative;
    background:
        linear-gradient(
            rgba(255, 255, 255, 0.548),
            rgba(255, 255, 255, 1.548) 
        ),
        url('/images/adult-asking-blur-630839.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .arrow-scroll-down{
        border-top-color: #012541;
    }
    .inner-content{
        border-radius: 7px;
        padding: 10px;
        background-color:  rgba(255, 255, 255, 0.548);
    }
    h1{
        color: #012541;
    }
    p{
        font-size: 1.5rem;
        font-weight: 500;
    }
    ul{
        li{
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
    .learn-more-btn{
        border: 2px solid #012541;
        color: #012541;
        &:hover{
            color: #ffffff;
            background-color: #012541;
        }
    }

}
.featurette-5{
    position: relative;
    background:
        linear-gradient(
            rgba(1, 56, 99, 0.548),
            rgba(1, 37, 65, 1.548) 
        ),
        url('/images/atlas-ball-shaped-business-269633.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .arrow-scroll-down{
        border-top-color: #ffffff;
    }

    h1,h2,p{
        color: #ffffff;
    }
    p{
        font-size: 1.5rem;
        a{
            color: #ffffff;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .learn-more-btn{
        border: 2px solid #ffffff;
        color: #ffffff;
        &:hover{
            color: #012541;
            background-color: #ffffff;
        }
    }
}
.featurette-6{
    position: relative;
    background:
        linear-gradient(
            rgba(255, 255, 255, 0.548),
            rgba(255, 255, 255, 1.548) 
        ),
        url('/images/abc-accomplished-alphabet-48898.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .arrow-scroll-down{
        border-top-color: #012541;
    }

    .question-mark{
        width: 100%;
        text-align: center;
        font-size: 10rem;
        color: #012541;
    }
    p{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px #0000002c;
    }
    a{
        padding: 5px;
        background-color: #012541;
        display: block;
        -moz-transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: .5s all;
        transition: 0.5s all;
        color: #ffffff;
        font-size: 2.5rem;
        text-align: center;
        margin: auto;
        max-width: 200px;
        border-radius: 7px;
        font-weight: bold;
        &:hover{
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            text-decoration: none;
        }
    }
}