@import 'thtweb_style.scss';

.content{
    padding-top: $navbar-height;
    background:
        linear-gradient(
            rgba(255, 255, 255, -0.548),
            rgba(255, 255, 255, 1.548) 
        ),
        url('/images/aerial-blog-blogger-990819.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1{
        text-align: center;
        padding: 30px;
        font-size: 3.5rem;
        color: #012541;
    }
    .card{
        margin: 20px 0 20px 0;
        background-color: rgba(255, 255, 255, 0.719);
        border-radius: 7px;
        .newsletters-list{
            .newsletter-item{
                margin-bottom: 10px;
                a{
                    border-radius: 7px;
                    display: block;
                    text-align: left;
                    font-weight: bold;
                    font-size: 1.4rem;
                    display: block;
                    padding: 20px;
                    color: #ffffff; 
                    background-color: #012541;  
                }
            }
        }
    }
}