@import 'thtweb_style.scss';

.content{
    padding-top: $navbar-height;
    background:
        linear-gradient(
            rgba(255, 255, 255, -0.548),
            rgba(255, 255, 255, 1.548) 
        ),
        url('/images/computer-drink-iphone-586339.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1{
        text-align: center;
        padding: 30px;
        font-size: 3.5rem;
        color: #012541;
    }
    .main-card{
        margin: 20px 0 20px 0;
        background-color: rgba(255, 255, 255, 0.719);
        border-radius: 7px;
        .news-item-container{
            margin-bottom: 10px;
            .news-item{
                display: block;
                font-size: 1.4rem;
                background: #ffffff;
                border-radius: 7px;
                width: 100%;
                height: 100%;
                position: relative;
                .overlay-hover{
                    border-radius: 7px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.315); 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    -webkit-transition:.5s all;
                    -moz-transition: .5s all;
                    -o-transition: .5s all;
                    transition: .5s all;
                    opacity: 0;
                    .inner-overlay-hover{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .view-icon-cirlce{
                            text-align: center;
                            color: #ffffff;
                            background-color: #045390;
                            padding: 10px 15px 10px 15px;
                            border-radius: 200px;
                            i{
                                font-size: 7rem;
                            }
                            span{
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
                .news-img{
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    height: 200px;
                    width: 100%;
                }
                .card-title{
                    text-transform: capitalize;
                    font-size: 2rem;
                }
                &:hover{
                    text-decoration: none;
                    .overlay-hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
}