@import 'thtweb_style.scss';

.section-2,
.section-3,
.section-4,
.section-5{
    padding: 77px 0 77px 0;
}
.section-2,
.section-4{
    background-color: #e4e4e4;
}

.section-3{
    background-color: #ffffff;
}

h2{
    color: #012541;
    font-weight: bold;
}

.section-1{
    padding-top: $navbar-height;
    background:
        linear-gradient(
            rgba(255, 255, 255, -0.548),
            rgba(255, 255, 255, 1.548) 
        ),
        url('/images/background-blank-business-301703.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1{
        padding: 30px;
        font-size: 3.5rem;
        color: #012541;
    }

    .card{
        margin: 20px;
        background-color: rgba(255, 255, 255, 0.719);
        ul{
            font-size: 1.4rem;
            li{
                font-size: 1.4rem;
                margin-bottom: 10px;
                a{
                    font-weight: bold;
                }
            }
        }
    }
}
.section-2{
    font-size: 1.4rem;
    .white-paper-btn{
        display: flex;
        padding: 10px;
        background-color: #012541;
        margin: 10px;
        border-radius: 7px;
        &:hover{
            text-decoration: none;
        }
        .icon,
        .filename{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .inner-icon{
            font-size: 2.3rem;
            text-align: center;
            color: #ffffff;
            padding: 15px;
        }
        .inner-filename{
            text-align: left;
            font-size: 1.4rem;
            color: #ffffff;
            padding: 10px;
        }

    }
    .visit-vsgi{
        display: block;
        margin: 0 auto;
        max-width: 200px;
        text-align: center;
        padding: 10px;
        border-radius: 7px;
        background-color: #012541;
        color: #ffffff;
        font-size: 1.4rem;
        &:hover{
            text-decoration: none;
        }
    }
    ul{
        li{
            font-size: 1.4rem;
        }
    }
    p{
        font-size: 1.4rem;
    }
}
.section-3{
    font-size: 1.4rem;
    .webinars-eventname{
        color: #012541;
        border-bottom: 3px solid #012541;
        width: inherit;
    }
    .presenter-photo{
        border-radius: 50%;
        width: 216px;
        height: 217px;
        display: block;
        margin: 0 auto;
        // -webkit-filter: grayscale(100%);
        // filter: grayscale(100%);
        -o-object-fit: cover;
        object-fit: cover;
        padding: 20px;
    }
}