@import 'app.scss';

$navbar-height: 70px;
// $footer-height-desktop: 255px;
// $footer-height-mobile: 401px;
$navbar-background-color: rgba(1, 37, 65, 0.7);
$navbar-border-bottom:  2px solid #ffffff;
$navbar-text-color: #ffffff;
$navbar-text-size: 1.5rem;
$navbar-signup-btn-background-color: #0076ad;
$navbar-signup-btn-text-color: #ffffff;
$navbar-background-color-active-mobile: rgba(11, 118, 200, 0.549);
$navbar-dropdown-hover-background:  rgba(9, 143, 245, 0.829);
$navbar-breakpoint-desktop: 1040px;

$navbar-max-mobile-width: $navbar-breakpoint-desktop - 1;

*{
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
@media screen and (max-width: 599px){
    html{
        font-size: 7.5px;
    }
}
body{
    position: relative;
    min-height: 100vh;
}

.navbar{
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: $navbar-height;
    background-color: $navbar-background-color;
    border-bottom: $navbar-border-bottom;
    padding: 0;
    .navbar-container{
        margin: 0 auto;
        display: flex;
        .navbar-brand{
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                display: block;
                img{
                    width: 125px;
                    height: auto;
                }
            }
        }
        .navbar-menu{
            display: flex;
            padding: 0;
            float: right;
            //default navbar item styles
            .navbar-menu-item,
            .navbar-menu-item-dropdown{
                height: 100%;
                padding: 0px;
                text-align: center;
                a{
                    width: 100%;
                    display: block;
                    padding: 20px;
                    font-weight: bold;
                    font-size: $navbar-text-size;
                    color:$navbar-text-color;
                    text-decoration: none !important;
                    -webkit-transition:.5s all;
                    -moz-transition: .5s all;
                    -o-transition: .5s all;
                    transition: .5s all;
                    .underline-hover{
                        -webkit-transition:.5s all;
                        -moz-transition: .5s all;
                        -o-transition: .5s all;
                        transition: .5s all;
                        -webkit-transform: skewX(-51deg);
                        -moz-transform: skewX(-51deg);
                        -o-transform: skewX(-51deg);
                        transform: skewX(-51deg);
                        width: 0;
                        height: 7px;
                        background-color: #ffffff;
                        display: block;
                    }
                }
                a:hover{
                    color: #ffffff;
                    .underline-hover{
                        width: inherit;
                    }
                }
            }
            .navbar-menu-item-sign-up{
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    font-size: $navbar-text-size;
                    background-color: $navbar-signup-btn-background-color;
                    color: $navbar-signup-btn-text-color;
                    padding: 10px;
                    border-radius: 7px;
                    -webkit-transition:.5s all;
                    -moz-transition: .5s all;
                    -o-transition: .5s all;
                    transition: .5s all;
                    &:hover{
                        text-decoration: none;
                        -webkit-transform:scale(1.2);
                        -moz-transform: scale(1.2);
                        -o-transform: scale(1.2);
                        transform: scale(1.2);
                    }
                }
            }

            //dropdown
            .navbar-menu-item-dropdown{
                position: relative;
                .dropdown-content{
                    display: none;
                    position: absolute;
                    background-color: $navbar-background-color;
                    text-decoration: none !important;
                    border-radius: 3px;
                    border: 1px solid #ffffff;
                    width: 200px;
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li{
                            text-align: left !important;
                            a{
                                display: block;
                                padding: 10px !important;
                                background-color: transparent;
                                white-space: nowrap;
                            }
                            a:hover{
                                border-left: 5px solid #ffffff;
                                background-color: $navbar-dropdown-hover-background;
                            }
                        }
                    }
                }
            }

            //active 
            .navbar-menu-item.active > a,
            .navbar-menu-item-dropdown.active > a{
                color: #ffffff;
                .underline-hover{
                    width: inherit;
                    background-color: #0d82db;
                }
            }
        }  
    }
    .navbar-mobile-right{
        display: none;
        float: right;
        align-items: center;
        justify-content: center;
        .sign-up-mobile{
            font-size: $navbar-text-size;
            background-color: $navbar-signup-btn-background-color;
            color: $navbar-signup-btn-text-color;
            padding: 10px;
            border-radius: 7px;
            &:hover{
                text-decoration: none;
            }
        } 
        // .navbar-toggle{
        //     display: block;
        //     padding: 15px;
        //     &:hover{
        //         text-decoration: none;
        //     }
        // }

        .navbar-toggle {
            width: 37px;
            height: 45px;
            position: relative;
            margin: 0 20px 0 20px;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;
        }
          
        .navbar-toggle span {
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            background: #ffffff;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }      

        .navbar-toggle span:nth-child(1) {
           top: 5px;
        }
          
        .navbar-toggle span:nth-child(2),.navbar-toggle span:nth-child(3) {
          top: 18px;
        }
          
        .navbar-toggle span:nth-child(4) {
           top: 32px;
        }
          
        .navbar-toggle.open span:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
          
        .navbar-toggle.open span:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }
          
        .navbar-toggle.open span:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
          
        .navbar-toggle.open span:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
        }
          
    }

}
@media screen and (min-width:$navbar-breakpoint-desktop){
    .navbar{
        .navbar-container{
            .navbar-menu{
                display: flex !important;
                .navbar-menu-item-dropdown:hover > a{
                    color: #ffffff;
                    .underline-hover{
                        width: inherit;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $navbar-max-mobile-width){
    .navbar{
        .navbar-container{
            position: relative;
            margin: 0 0 0 10px;
            .navbar-menu{
                overflow: auto;
                display: none;
                position: absolute;
                background-color: $navbar-background-color;
                width: 100vw;
                top: 64px;
                left: -10px;
                border-bottom: $navbar-border-bottom;
                .navbar-menu-item,
                .navbar-menu-item-dropdown{
                    text-align: left;
                    a{
                        .underline-hover{
                            display: none;
                        }
                    }
                }
                .navbar-menu-item.active > a,
                .navbar-menu-item-dropdown.active > a{
                    color: #ffffff;
                    background-color: $navbar-background-color-active-mobile;
                }
                .navbar-menu-item-dropdown{
                    .dropdown-content{
                        border-top: 2px solid #ffffff;
                        border-bottom: 2px solid #ffffff; 
                        border-left: 0;
                        border-right: 0;
                        position: relative;
                        width: 100vw;
                        ul{
                            li{
                                padding-left: 2.5rem;
                                a:hover{
                                    border-left: 0;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
                .navbar-menu-item-sign-up{
                    display: none;
                }
            }
        }
        .navbar-mobile-right{
            display: flex;
        }
    }
}

.content{
    min-height: 100vh;
    // padding-top: $navbar-height;
    // padding-bottom:  $footer-height-desktop;
}

.footer{
    // position: relative;
    // height: $footer-height-desktop;
    bottom: 0;
    width: 100%;
    background-color: #313131;
    padding: 5rem 0 1rem;
    h1{
        color: #ffffff;
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
        color: #ffffff;
        a{
            color: #ffffff;
        }
    }
    .address-contact{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-copyright{
        margin: 10px;
    }
}
@media screen and (max-width: 768px){
    .footer{
        // height: $footer-height-mobile;
        .address-contact{
            .inner-address-contact{
                h1,p{
                    text-align: center;
                }
            }
        }
    }
}

#signup_modal{
    .modal-content{
        border-radius: 5rem !important;
    }
    .modal-body{
        padding: 3rem !important;
        .sign-up-close{
            float: right;
            font-size: 2rem;
            padding: 0;
            background-color: transparent;
            border: 0;
            -moz-transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: .5s all;
            transition: 0.5s all;
            color: gray;
            &:hover{
                color: red;
            }
        }
        .sign-up-title{
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #0076ad;
        }
        .sign-up-instruct{
            padding: 10px;
        }
        .input-group-text{
            font-size: 2.5rem !important;
            background: transparent !important;
            border: 0 !important; 
            color: #0076ad;
        }
        p,
        input,select,textarea{
            font-size: 1.5rem;
        }
        input,select,textarea{
            border-radius: 10px;
        }
        input,select{
            padding: 0.7rem !important;
            height: auto !important;
        }
        textarea{
            padding: 10px;
            margin-top: 10px;
            width: 100%;
            margin-bottom: 20px;
        }
        .sign-up-submit{
            float: right;
            border-radius: 200px;
            border: 2px solid #0076ad;
            color: #ffffff;
            background-color: #0076ad;
            padding: 10px;
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            -moz-transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: .5s all;
            transition: 0.5s all;
            &:hover{
                background-color: #06587e;
                border-color: #06587e;
            }
        }
        form{
            .required{
                visibility: hidden;
                -moz-transition: 0.5s all;
                -webkit-transition: 0.5s all;
                -o-transition: .5s all;
                transition: 0.5s all;
                float: right;
                font-weight: bold;
                font-size: 1.3rem;
                color: red;
            }
        }
    }
}
#privacy_policy_modal,
#service_agrmnt_modal{
    .modal-content{
        border-radius: 5rem !important;
    }
    .modal-body{
        padding: 3rem !important;
        .custom-close{
            float: right;
            font-size: 2rem;
            padding: 0;
            background-color: transparent;
            border: 0;
            -moz-transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: .5s all;
            transition: 0.5s all;
            color: gray;
            &:hover{
                color: red;
            }
        }
        .modal-title{
            font-size: 1.7rem !important; 
            color: #0076ad;
            margin-bottom: 3rem;
        }
        p{
            font-size: 1.4rem;
        }
    }


}