* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

@media screen and (max-width: 599px) {
  html {
    font-size: 7.5px;
  }
}

body {
  position: relative;
  min-height: 100vh;
}

.navbar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(1, 37, 65, 0.7);
  border-bottom: 2px solid #ffffff;
  padding: 0;
}

.navbar .navbar-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-container .navbar-brand {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-container .navbar-brand a {
  display: block;
}

.navbar .navbar-container .navbar-brand a img {
  width: 125px;
  height: auto;
}

.navbar .navbar-container .navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  float: right;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item,
.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown {
  height: 100%;
  padding: 0px;
  text-align: center;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item a,
.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown a {
  width: 100%;
  display: block;
  padding: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none !important;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item a .underline-hover,
.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown a .underline-hover {
  -webkit-transition: .5s all;
  transition: .5s all;
  -webkit-transform: skewX(-51deg);
  transform: skewX(-51deg);
  width: 0;
  height: 7px;
  background-color: #ffffff;
  display: block;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item a:hover,
.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown a:hover {
  color: #ffffff;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item a:hover .underline-hover,
.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown a:hover .underline-hover {
  width: inherit;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item-sign-up {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item-sign-up a {
  font-size: 1.5rem;
  background-color: #0076ad;
  color: #ffffff;
  padding: 10px;
  border-radius: 7px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item-sign-up a:hover {
  text-decoration: none;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown {
  position: relative;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(1, 37, 65, 0.7);
  text-decoration: none !important;
  border-radius: 3px;
  border: 1px solid #ffffff;
  width: 200px;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown .dropdown-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown .dropdown-content ul li {
  text-align: left !important;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown .dropdown-content ul li a {
  display: block;
  padding: 10px !important;
  background-color: transparent !important;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown .dropdown-content ul li a:hover {
  border-left: 5px solid #ffffff;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item.active > a,
.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown.active > a {
  color: #ffffff;
}

.navbar .navbar-container .navbar-menu .navbar-menu-item.active > a .underline-hover,
.navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown.active > a .underline-hover {
  width: inherit;
  background-color: #0d82db;
}

.navbar .navbar-mobile-right {
  display: none;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-mobile-right .sign-up-mobile {
  font-size: 1.5rem;
  background-color: #0076ad;
  color: #ffffff;
  padding: 10px;
  border-radius: 7px;
}

.navbar .navbar-mobile-right .sign-up-mobile:hover {
  text-decoration: none;
}

.navbar .navbar-mobile-right .navbar-toggle {
  color: #ffffff;
  font-size: 2.4rem;
  padding: 15px;
}

.navbar .navbar-mobile-right .navbar-toggle:hover {
  text-decoration: none;
}

@media screen and (min-width: 1040px) {
  .navbar .navbar-container .navbar-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown:hover > a {
    color: #ffffff;
  }

  .navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown:hover > a .underline-hover {
    width: inherit;
  }
}

@media screen and (max-width: 1039px) {
  .navbar .navbar-container {
    position: relative;
    margin: 0 0 0 10px;
  }

  .navbar .navbar-container .navbar-menu {
    overflow: auto;
    display: none;
    position: absolute;
    background-color: rgba(1, 37, 65, 0.7);
    width: 100vw;
    top: 64px;
    left: -10px;
    border-bottom: 2px solid #ffffff;
  }

  .navbar .navbar-container .navbar-menu .navbar-menu-item,
  .navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown {
    text-align: left;
  }

  .navbar .navbar-container .navbar-menu .navbar-menu-item a .underline-hover,
  .navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown a .underline-hover {
    display: none;
  }

  .navbar .navbar-container .navbar-menu .navbar-menu-item.active > a,
  .navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown.active > a {
    color: #ffffff;
    background-color: rgba(11, 118, 200, 0.549);
  }

  .navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown .dropdown-content {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0;
    border-right: 0;
    position: relative;
    width: 100vw;
  }

  .navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown .dropdown-content ul li {
    padding-left: 2.5rem;
  }

  .navbar .navbar-container .navbar-menu .navbar-menu-item-dropdown .dropdown-content ul li a:hover {
    border-left: 0;
  }

  .navbar .navbar-container .navbar-menu .navbar-menu-item-sign-up {
    display: none;
  }

  .navbar .navbar-mobile-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content {
  min-height: 100vh;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #313131;
  padding: 5rem 0 1rem;
}

.footer h1 {
  color: #ffffff;
  font-size: 2rem;
}

.footer p {
  font-size: 1.2rem;
  color: #ffffff;
}

.footer p a {
  color: #ffffff;
}

.footer .address-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-copyright {
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .footer .address-contact .inner-address-contact h1,
  .footer .address-contact .inner-address-contact p {
    text-align: center;
  }
}

#signup_modal .modal-content {
  border-radius: 5rem !important;
}

#signup_modal .modal-body {
  padding: 3rem !important;
}

#signup_modal .modal-body .sign-up-close {
  float: right;
  font-size: 2rem;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: gray;
}

#signup_modal .modal-body .sign-up-close:hover {
  color: red;
}

#signup_modal .modal-body .sign-up-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0076ad;
}

#signup_modal .modal-body .sign-up-instruct {
  padding: 10px;
}

#signup_modal .modal-body .input-group-text {
  font-size: 2.5rem !important;
  background: transparent !important;
  border: 0 !important;
  color: #0076ad;
}

#signup_modal .modal-body p,
#signup_modal .modal-body input,
#signup_modal .modal-body select,
#signup_modal .modal-body textarea {
  font-size: 1.5rem;
}

#signup_modal .modal-body input,
#signup_modal .modal-body select,
#signup_modal .modal-body textarea {
  border-radius: 10px;
}

#signup_modal .modal-body input,
#signup_modal .modal-body select {
  padding: 0.7rem !important;
  height: auto !important;
}

#signup_modal .modal-body textarea {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
}

#signup_modal .modal-body .sign-up-submit {
  float: right;
  border-radius: 200px;
  border: 2px solid #0076ad;
  color: #ffffff;
  background-color: #0076ad;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#signup_modal .modal-body .sign-up-submit:hover {
  background-color: #06587e;
  border-color: #06587e;
}

#signup_modal .modal-body form .required {
  visibility: hidden;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  float: right;
  font-weight: bold;
  font-size: 1.3rem;
  color: red;
}

#privacy_policy_modal .modal-content,
#service_agrmnt_modal .modal-content {
  border-radius: 5rem !important;
}

#privacy_policy_modal .modal-body,
#service_agrmnt_modal .modal-body {
  padding: 3rem !important;
}

#privacy_policy_modal .modal-body .custom-close,
#service_agrmnt_modal .modal-body .custom-close {
  float: right;
  font-size: 2rem;
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: gray;
}

#privacy_policy_modal .modal-body .custom-close:hover,
#service_agrmnt_modal .modal-body .custom-close:hover {
  color: red;
}

#privacy_policy_modal .modal-body .modal-title,
#service_agrmnt_modal .modal-body .modal-title {
  font-size: 1.7rem !important;
  color: #0076ad;
  margin-bottom: 3rem;
}

#privacy_policy_modal .modal-body p,
#service_agrmnt_modal .modal-body p {
  font-size: 1.4rem;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
  position: relative;
}

.section-1 ul,
.section-1 p,
.section-2 ul,
.section-2 p,
.section-3 ul,
.section-3 p,
.section-4 ul,
.section-4 p,
.section-5 ul,
.section-5 p,
.section-6 ul,
.section-6 p {
  font-size: 1.4rem;
}

.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
  padding: 77px 0 77px 0;
}

.section-2 h1,
.section-3 h1,
.section-4 h1,
.section-5 h1,
.section-6 h1 {
  padding: 20px;
}

.back-to-selection {
  float: right;
  font-size: 1.4rem;
  display: block;
  color: #ffffff;
  background-color: #055ea1;
  padding: 10px;
  border-radius: 7px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.back-to-selection:hover {
  background-color: #044170;
  text-decoration: none;
  color: #ffffff;
}

.section-1 {
  padding-top: 70px;
  padding-bottom: 77px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.548)), to(white)), url("/images/audio-instrument-mic-433268.jpg");
  background: linear-gradient(rgba(255, 255, 255, 0.548), white), url("/images/audio-instrument-mic-433268.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.section-1 h1 {
  color: #012541;
  text-align: center;
  padding: 20px;
}

.section-1 p {
  font-weight: 450;
}

.section-1 .scroll-links {
  display: block;
  border-radius: 7px;
  background-color: #012541;
  color: #ffffff;
  padding: 10px;
  font-size: 1.7rem;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.section-1 .scroll-links:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: none;
  background-color: #055ea1;
}

.section-1 .scroll-links:hover .inner-scroll-links .hover-down {
  opacity: 0.7;
}

.section-1 .scroll-links .inner-scroll-links {
  text-align: center;
  position: relative;
}

.section-1 .scroll-links .inner-scroll-links .hover-down {
  top: -17px;
  width: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: .5s all;
  transition: .5s all;
  color: #ffffff;
  font-size: 7rem;
}

.section-2 {
  color: #ffffff;
  background-color: #012541;
}

.section-2 a {
  color: #ffffff;
}

.section-4 {
  color: #ffffff;
  background-color: #012541;
}

.section-4 a {
  color: #ffffff;
}

.section-6 {
  color: #ffffff;
  background-color: #012541;
}

.section-6 a {
  color: #ffffff;
}

